[submodule "src/pubgrub-pyo3"]
	path = src/pubgrub-pyo3
	url = https://github.com/charbeljc/pubgrub-pyo3.git
	branch = main
[submodule "src/pep440-rs"]
	path = src/pep440-rs
	url = https://@github.com/charbeljc/pep440-rs.git
	branch = pubgrub
[submodule "src/pep508_rs"]
	path = src/pep508_rs
	url = https://github.com/charbeljc/pep508_rs.git
	branch = wip3
